.footerWrap {
  @extend .wrapContainer;
  padding: 1rem 0;
  border-top: $border;
  .footer {
    @extend .innerContainer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social_network {
      display: flex;
      column-gap: 1rem;
      a {
        color: #5b5b5b;
        &:hover {
          color: $text-primary;
        }
      }
    }
  }
}
